{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>내게 맞는 댕댕이 찾기</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="{% static 'css/doggy_intro.css' %}" rel='stylesheet'>
      <script>
      $(document).ready(function(){
        $('input[type=radio]').click(function() {
          const questionSet = $(this).closest('.question-set');
          const id = questionSet.data('questionId');
          const nextQuestionSet = $(`.question-set[data-question-id=${id + 1}]`)

          if (nextQuestionSet.length > 0) {
            nextQuestionSet.fadeIn(700);
          } else {
            $(location).attr('href', '/doggy/ddd/')
          }         
        })
      })
      </script>
    </head>
    <body>
        <div class="title">내게 맞는<br>댕댕이 찾기 🐶</div>
        <div class="sub-title">나랑 잘 맞는 댕댕이를 1분만에 확인해보세요.</div>
    <div class='question-set' data-question-id="1">
        <div class='question-container'>
           <div class="sub-title2" id="q1">나는 강아지를 보면..</div>
           <div class="question-number" id="qn1">(1/10)</div>
        </div>
      <div class="radio-toolbar">
        <input type="radio" id="radio1" name="radio-container" value="yes">
        <label for="radio1" class="1">잘 다가가는 편이다.</label>
        <input type="radio" id="radio2" name="radio-container" value="no">
        <label for="radio2" class="1">멀찍이 지켜보는 편이다.</label>
      </div>
    </div>
    <div class='question-set' data-question-id="2" style="display: none;">
        <div class='question-container'>
         <div class="sub-title2">나는 강아지를 보면..</div>
         <div class="question-number">(2/10)</div>
      </div>
      <div class="radio-toolbar">
        <input type="radio" id="radio3" name="radio-container2" value="yes">
        <label for="radio3" class="2">그렇다</label>
        <input type="radio" id="radio4" name="radio-container2" value="no">
        <label for="radio4" class="2">아니다</label>
      </div>
    </div>
    <div class='question-set' data-question-id="3" style="display: none;">
        <div class='question-container'>
         <div class="sub-title2">나는 강아지를 보면..</div>
         <div class="question-number">(3/10)</div>
      </div>
      <div class="radio-toolbar">
        <input type="radio" id="radio5" name="radio-container3" value="yes">
        <label for="radio5" class="3">맞다</label>
        <input type="radio" id="radio6" name="radio-container3" value="no">
        <label for="radio6" class="3">틀리다</label>
      </div>
    </div>
    </div>
    </body>
</html>