<!DOCTYPE HTML>
{% load static %}
<html>
 <head>
     <title>Sharing - showmethatcode</title>
     <meta charset="utf-8">
     <link href="{% static 'css/sharings.css' %}" rel='stylesheet'>
 </head>
 <body>
    <div class='title'>
    <a href='{% url 'sharings' %}'><h1>sharing <h2>.showmethatcode.team</h2></h1></a>
   </div>
   <div class='sub-title'>
       <h2>🙌 매일 오후 11시, 오늘 배운 것과 내일 계획을 공유합니다. <a href='index_introduction.html'>showmethatcode 팀 소개</a></h2>
   </div>
   {% if can_check_in %}
   <form action="/write/" method='POST'>
    {% csrf_token %}
        <div class='checkin'>
            <div class="highlight"></div>
            <h1>🔥 체크인</h1>
            <div class='textbox1'>
            <h2>오늘 배운 것</h2>
            <textarea name="til" placeholder='* Sticky Session에 대해 공부함
    * RDS를 처음 사용해봄'class='inputstr3'></textarea>
            </div>
            <div class='textbox2'>
            <h2>내일 계획</h2>
            <textarea name="action_plan" placeholder='* Sticky Session에 대해 공부함
    * RDS를 처음 사용해봄'class='inputstr3'></textarea>
            </div>
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
            <button type="submit"><h3>작성 완료</h3></button>
        </div>
    </form>
    {% endif %}
    {% for group in groups %}
    <a class='link' href='/sharings/{{ group.id }}'>
        <div class='info'>
        <h2>{{ group.date }}</h2>
    </div>
    <div class='images'>
        {% for sharing in group.sharing_set.all %}
            <img src="{{ sharing.user.user_profile_images }}" width='50'height='50'>
        {% endfor %}
    </div>
    </a>
    {% endfor %}
    </body>
</html>
